{% extends 'partials/base.html' %}
{% block content %}
  <!-- Search Section Start -->
  <div id="search">
    <div class="container">
        <div class="form-row">
            <div class="control-group col-md-3">
                <label>Check-In</label>
                <div class="form-group">
                    <div class="input-group date" id="date-3" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#date-3"/>
                        <div class="input-group-append" data-target="#date-3" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group col-md-3">
                <label>Check-Out</label>
                <div class="form-group">
                    <div class="input-group date" id="date-4" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#date-4"/>
                        <div class="input-group-append" data-target="#date-4" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group col-md-3">
                <div class="form-row">
                    <div class="control-group col-md-6">
                        <label>Adult</label>
                        <select class="custom-select">
                            <option selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="control-group col-md-6 kid">
                        <label>Kid</label>
                        <select class="custom-select">
                            <option selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group col-md-3">
                <button class="btn btn-block">Search</button>
            </div>
        </div>
    </div>
</div>
<!-- Search Section End -->  

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">

              {% for hotel in hotels %}
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="{{hotel.image.url}}"class="w-50 h-50" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{hotel.name}}</h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span> {{hotel.address}}</span>
                  </div>
                  <div class="mt-1 mb-0 text-muted small">
                    <span>100% cotton</span>
                    <span class="text-primary"> • </span>
                    <span>Light weight</span>
                    <span class="text-primary"> • </span>
                    <span>Best finish<br /></span>
                  </div>
                  <div class="mb-2 text-muted small">
                    {% if hotel.featured == True %}
                    <span class="bg-primary text-white px-2">Featured</span>
                    <!-- <span class="text-primary"> • </span>
                    <span>For men</span>
                    <span class="text-primary"> • </span>
                    <span>Casual<br /></span> -->
                    {% endif %}
                  </div>
                  <span class="text-danger">{{hotel.email}}</span>
                  <p class="text-truncate mb-4 mb-md-0">
                   {{hotel.description}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">{{hotel.mobile}}</h4>
                   
                  </div>
                  <h6 class="text-success"><i class="fa fa-eye"><span class="mx-2">{{hotel.views}} view{{hotel.views|pluralize}}  </span></i></h6>
                  <div class="d-flex flex-column mt-4">
                    <a href="{% url 'hotel:details-hotel' hotel.slug %}" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm" type="button">Details</a>
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm mt-2" type="button">
                      Add to wishlist
                    </button>
                  </div>
                </div>
              </div>
              {% endfor %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

